<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371038478901-0pg711k985sds3s9clciv5ar6etjakja.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371038478901-0pg711k985sds3s9clciv5ar6etjakja</string>
	<key>API_KEY</key>
	<string>AIzaSyAePAXrRes3pf1kZnppunHSWHrXKiRf0PY</string>
	<key>GCM_SENDER_ID</key>
	<string>371038478901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatappFirebase</string>
	<key>PROJECT_ID</key>
	<string>individual-android-s</string>
	<key>STORAGE_BUCKET</key>
	<string>individual-android-s.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371038478901:ios:bdeaeb75fb91ef5766c77c</string>
</dict>
</plist>